/*** VARIABLES ***/

//colors 
$primary_color: #e50914;
$secondary_color: #f19b4b;
$dark_color:rgba(7, 0, 1, 0.801);
/* $dark_color:#0707078a */
/* BOOTSTRAP DEFAULT */
/* $primary_color: #007bff;
$secondary_color: #6c757d;
$success_color: #28a745;
$info_color: #dc3545;
$warning_color: #ffc107;
$danger_color: #17a2b8;
$light_color: #f8f9fa;
$dark_color: #343a40; */
